/.buildpath
/.project
/.settings
/.metadata
/phpdox.xml
/phpunit.xml
/build/api
/build/code-browser
/build/coverage
/build/graph
/build/logs
/build/pdepend
/build/phpdox
/build/todo
/etc/config.json
/etc/tester.db
/www/.htaccess
/www/index.php
/cache.properties
